# {{ ansible_managed }}

subnet {{ subnet.network }} netmask {{ subnet.netmask }} {
  range {{ subnet.range }};
  option routers {{ subnet.gateway }};
  option domain-name-servers {{ subnet.dns }};
  option domain-name "{{ subnet.domain }}";
  option ntp-servers {{ subnet.ntp }};
  authoritative;

  max-lease-time {{ subnet.max_lease_time }};
  default-lease-time {{ subnet.default_lease_time }};

{% if subnet.allow_booting %}
  next-server {{ subnet.tftp }};
  allow bootp;
  allow booting;
{% endif %}

{% if subnet.allow_unknown_clients %}
  deny unknown-clients;
{% else %}
  allow unknown-clients;
{% endif %}

  # include all leases files for this subnet
  include "{{ dhcp_sub_config_dir }}/subnet4-{{ subnet.network }}.leases";
}
